# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store

# IDEs/editors
.idea/
.vscode/

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Data & artifacts
models/
outputs/
*.pth
*.pkl
*.csv

# Local env
.env
